.about-me-nav {
    max-width: 500px;
    min-width: 240px;
    padding: 15px 1rem;
    color: #444;
    position: relative;

    @media screen and (max-width: 760px) {
        display: none;
    }

    @media screen and (min-width: 1280px) {
        padding: 1rem 2rem;
    }

    &[data-item-count="0"] {
        display: none;
    }

    & > ul {
        list-style: none;
        position: fixed;

        li {
            padding: 8px 0;
            font-size: 1.05rem;

            &:hover {
                background-color: rgba(20, 20, 20, .1);
            }

            &[data-active="1"] {
                //color: #000;
                opacity: 1;
            }

            a {
                text-decoration: none;
                display: block;

                &::before {
                    content: '- ';
                    opacity: .8;
                }
            }

            &[data-level="1"] {
                padding-left: 0;

                a::before {
                    content: '* ';
                }
            }
            &[data-level="2"] {
                padding-left: 8px;
            }
            &[data-level="3"] {
                padding-left: 16px;
            }
            &[data-level="4"] {
                padding-left: 24px;
            }
            &[data-level="5"] {
                padding-left: 32px;
            }
            &[data-level="6"] {
                padding-left: 40px;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 1px;
        top: 15px;
        height: calc(100% - 30px);
        background-color: #222;
    }
}
