.my-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -6px;

    > a {
        margin: 6px;
        text-decoration: none;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            width: auto;
            filter: grayscale(100%) opacity(75%);
            transition: transform .5s ease;

            &:hover {
                transform: scale(1.25) rotate(-15deg);
            }

            &.facebook {
                height: 95%;
            }

            &.strava {
                filter: grayscale(100%) opacity(100%);
            }
        }
    }

}
