h1,
h2,
h3,
h4,
h5,
h6 {
    @import url(https://fonts.googleapis.com/css?family=Baskervville&display=swap);
    font-family: 'Baskervville', serif;
    font-weight: 500;
    color: #222;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    &::before {
        color: cornflowerblue;
        padding-right: 8px;
    }
}

h1 {
    font-size: 2.75rem;
    &::before {
        content: '#';
    }
}

h2 {
    font-size: 2.25rem;
    &::before {
        content: '##';
    }
}

h3 {
    font-size: 1.5rem;
    &::before {
        content: '###';
    }
}

h4 {
    font-size: 1.3rem;
    &::before {
        content: '####';
    }
}

h5 {
    font-size: 1.15rem;
    &::before {
        content: '#####';
    }
}

h6 {
    font-size: 1rem;
    &::before {
        content: '######';
    }
}
